html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

    body {
        background: #FAFAFA;
        font-family: 'Montserrat', sans-serif;
        padding: 20px;
    }
    
    h2{text-align: center;

    }
    p {
        color: #8B8B8B;
        text-align: center;
        }
    .podtrzitko{
        background-color: #407BFF;
        width: 60px;
        height: 2px;
        
    }

    .tlacitko{
        color: #ffffff;
        width: 195px;
        height: 40px;
        border-radius: 20px;
        background-color: #407BFF;
        text-align: center;
        font-size: 14px;
        padding: 10px;
        margin-bottom: 15px;
    }
    .tlacitko2 {
        background-color: #8B8B8B;
        width: 220px;
    }
    /*<-------urobene navyse------->*/
    .tlacitko:hover{
        background-color: #4265af;
    }
     .tlacitko2:hover{
        background-color: #303a3c;

    }

  
    .flexbox{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 20px;;
               }


 .flex{
        display: flex;
        padding: 32px 20px 20px 0px;

    }

    .ikonka{
      margin: 20px;
       
    }

    .obr{
        margin: 10px;
        float: none;
    }

    .boxik{
        color: #8B8B8B;
        width: 460px;
        height: 80px;
        background-color: #ffffff;
        box-shadow: 0px 4px 6px #407BFF1F;
        border-radius: 18px;
        margin-bottom: 15px;
        text-align: left;
        align-items: center;
       }

       .nadpis1{
            display: flex;
            align-items: center;
            flex-direction: column;
       }
