html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


/* ----MOBILE SCREEN--------------- */
    body {
        background: #FAFAFA;
        font-family: 'Montserrat', sans-serif;
        padding: 60px 20px 57px 20px;
    }

    h1 {font-size: 28px;
        font-family: 'Montserrat Medium', sans-serif;

    }

    h2 {font-family: 'Montserrat Medium', sans-serif;
        font-size: 16px;
        text-align: center;
    }

    p {font-family: 'Montserrat Light', sans-serif;
        font-size: 16px;
        color: #8B8B8B;
        text-align: center;
        }

    .podtrzitko{
        background-color: #407BFF;
        width: 60px;
        height: 2px;
        
    }

    .tlacitko{
        color: #ffffff;
        width: 195px;
        height: 40px;
        border-radius: 20px;
        background-color: #407BFF;
        text-align: center;
        font-family: 'Montserrat Regular', sans-serif;
        font-size: 14px;
        padding-top: 10px;
        margin-bottom: 15px;
            }

    .tlacitko2 {
        background-color: #8B8B8B;
        width: 220px;
    }
    /*<-------urobene navyse------->*/
    .tlacitko:hover{
        background-color: #4265af;
    }
    .tlacitko2:hover{
        background-color: #303a3c;
    }

  
    .flexbox{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
               }


    .flex{
        display: flex;
        padding: 32px 20px 20px 0px;
        }

    .ikonka{
      margin: 20px;
       
    }

    .obr{
        margin: 10px;
        float: none;
    }

    .boxik{
        color: #8B8B8B;
        width: 460px;
        height: 80px;
        background-color: #ffffff;
        box-shadow: 0px 4px 6px #407BFF1F;
        border-radius: 18px;
        margin-bottom: 15px;
        text-align: left;
        align-items: center;
            }

         /*<-------urobene navyse------->*/
         .boxik:hover{
            box-shadow: 3px 8px 10px #2d6df81f;
            background-color: #f3f3f3;
         }

       .nadpis1{
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-shrink: 1;
       }
        .nadpisxy {margin: 20px;
            
        }

       .main{
        display: flex;
        flex-direction: column;
        padding: 20px;
       }

/* ----TABLET SCREEN--------------- */
@media screen and (min-width: 640px)

    { 
        .flexbox {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
                }
        .flexboxik2{
            flex-direction: column;
            width: 550px;
                }
        .boxik{
            width: 230px;
            height: 172px;
                 }

 
}
/* -----PC SCREEN--------------- */
@media screen and (min-width: 1100px)

{
    .flexbox{ 
        flex-direction: row;
            }
  
        .map{
            order:3;
            display: flex;
            text-align: center;
            flex-direction: column;
            padding: 15px;
            }
        .cactus{
            order: 4;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 15px;
            }
        .plane{
            order: 5;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 15px;
            }
        .polozka6{
            order: 6;
                 }
        
        .palm{
            order:8;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 15px;
            
        }

        .umbrella{
            order:9;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 15px;
            }
        .rv{
            order: 10;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 15px;
            }


    .obr{order: 2;}

    .obsahuvodu{
        display: flex;
        flex-direction: column;
        flex-basis: 400px;
        order: 1;
        align-items: flex-start;}

    .dvetlacitka{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 15px;
    }

    .text{
        text-align: left;
        }

    .nadpis1{
        align-items: flex-start;
        }

    .flexboxik2{
        padding: 15px;
    }

    .boxik{
        width: 190px;
        height: 200px;
    }

   }